{% extends 'layout.html' %}
{% block content %}
    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <!-- Main row -->
        <div class="row">
          <div class="col-lg-3 col-6">
            <div class="small-box">
              <button type="button" class="btn btn-block btn-outline-success toastrDefaultSuccess">Success</button>
            </div>
          </div>
          <div class="col-lg-3 col-6">
            <div class="small-box">
              <button type="button" class="btn btn-block btn-outline-warning toastrDefaultWarning">Warning</button>
            </div>
          </div>
          <div class="col-lg-3 col-6">
            <div class="small-box">
              <button type="button" class="btn btn-block btn-outline-danger toastrDefaultError">Danger</button>
            </div>
          </div>
          <div class="col-lg-3 col-6">
            <div class="small-box">
              <button type="button" class="btn btn-block btn-outline-primary toastrDefaultInfo">Primary</button>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <!-- DIRECT CHAT -->
            <div class="card direct-chat direct-chat-warning">
              <div class="card-header">
                <h3 class="card-title">Direct Chat</h3>

                <div class="card-tools">
                  <span title="3 New Messages" class="badge badge-warning">3</span>
                  <button type="button" class="btn btn-tool" data-card-widget="collapse">
                    <i class="fas fa-minus"></i>
                  </button>
                  <button type="button" class="btn btn-tool" title="Contacts" data-widget="chat-pane-toggle">
                    <i class="fas fa-comments"></i>
                  </button>
                  <button type="button" class="btn btn-tool" data-card-widget="remove">
                    <i class="fas fa-times"></i>
                  </button>
                </div>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <!-- Conversations are loaded here -->
                <div class="direct-chat-messages" style="min-height: 450px;">
                </div>
                <!--/.direct-chat-messages-->

                <!-- Contacts are loaded here -->
                <div class="direct-chat-contacts"  style="min-height: 450px;">
                  
                </div>
                <!-- /.direct-chat-pane -->
              </div>
              <!-- /.card-body -->
              <div class="card-footer">
                <form action="/chat/input" method="post">
                  <div class="input-group">
                    <input type="text" name="message" placeholder="Type Message ..." class="form-control">
                    <span class="input-group-append">
                      <button type="button" class="btn btn-warning" onclick="submit();">Send</button>
                    </span>
                  </div>
                </form>
              </div>
              <!-- /.card-footer-->
            </div>
            <!--/.direct-chat -->
          </div>
          <!-- /.col -->
        </div>
      </div><!--/. container-fluid -->
    </section>
    <!-- /.content -->
{% endblock %}