<!-- REQUIRED SCRIPTS -->
<!-- jQuery -->
<script src="{{url_for('main.statics', path='plugins/jquery/jquery.min.js')}}"></script>
<!-- Bootstrap -->
<script src="{{url_for('main.statics', path='plugins/bootstrap/js/bootstrap.bundle.min.js')}}"></script>
<!-- overlayScrollbars -->
<script src="{{url_for('main.statics', path='plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js')}}"></script>
<!-- AdminLTE App -->
<script src="{{url_for('main.statics', path='js/adminlte.js')}}"></script>
<!-- Toastr -->
<script src="{{url_for('main.statics', path='plugins/toastr/toastr.min.js')}}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>

<script type="text/javascript">
  var namespace = "/socket/main"
  var _socket = io(
    namespace,
    {
      transports: ['polling','websocket'],
    }
  );
  _socket.on('announce', function(msg) {
    if (msg.category == "success"){
      toastr.success(msg.desc)
    }
    else if (msg.category == "warning"){
      toastr.warning(msg.desc)
    }
    else if (msg.category == "error"){
      toastr.error(msg.desc)
    }
    else if (msg.category == "info"){
      toastr.info(msg.desc)
    }
  }); // socket_main.on end

  $('.toastrDefaultSuccess').click(function() {
    $.get("/test");
  });
  $('.toastrDefaultWarning').click(function() {
    $.get("/test");
  });
  $('.toastrDefaultError').click(function() {
    $.get("/test");
  });
  $('.toastrDefaultInfo').click(function() {
    $.get("/test");
  });
</script>

<!-- ./Toastr -->